.app {
  text-align: center;
  max-width: 728px;
  margin: 0 auto;
}

header {
  background-color: #181717;
  height: 10dvh;
  min-height: 50px;
  color: white;
  position: fixed;
  width: 100%;
  max-width: 728px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
button.signBtn {
  padding: 15px 32px;
}
img.updateProfile {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
header img.updateProfile {
  height: 50px;
  width: 50px;
}
main {
  height: 100dvh;
  overflow-y: hidden;
  background-color: rgb(40, 37, 53);
}
button.sign {
  font-size: 1.25rem;
}
main > div.spinnerParent {
  position: absolute;
  right: 1vw;
  bottom: 10.5vh;
  z-index: 9999;
}
