section {
  padding: 10px;
  height: 80vh;
  margin: 10vh 0 10vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}
section::-webkit-scrollbar {
  width: 0.25rem;
}

section::-webkit-scrollbar-track {
  background: #1e1e24;
}

section::-webkit-scrollbar-thumb {
  background: #6649b8;
}
.message {
  display: flex;
}

.sent {
  flex-direction: row-reverse;
}

.sent p {
  color: white;
  background: #0b93f6;
  align-self: flex-end;
}
.received p {
  background: #e5e5ea;
  color: black;
}

img.user {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
img.messageImg {
  width: 150px;
  height: 150px;
}
.scroll {
  margin-top: 50px;
}
form {
  height: 10vh;
  position: fixed;
  bottom: 0;
  background-color: rgb(24, 23, 23);
  width: 100%;
  max-width: 728px;
  display: flex;
  font-size: 1.5rem;
}

form button {
  width: 20%;
  background-color: rgb(56, 56, 143);
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
form .displayImg {
  align-self: center;
  width: 80px;
  height: 60px;
}
