.sign-in {
  max-width: 400px;
  margin: 10px auto 0;
}
#google {
  color: #282c34;
  background: white;
}
.parent {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center ;
}
